name: CI

on:
  push:
    tags: ["v*"]
    branches: ["master"]
  pull_request:
    tags: ["v*"]
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "11"
          cache: maven

      - name: Build + test
        run: mvn -B -ntp verify
